<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CrewChief.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CrewChief.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <applicationSettings>
        <CrewChief.Properties.Settings>
            <setting name="sound_files_path" serializeAs="String">
                <value>sounds</value>
            </setting>
            <setting name="background_sound_files_path" serializeAs="String">
                <value>background_sounds</value>
            </setting>
            <setting name="background_volume" serializeAs="String">
                <value>0.4</value>
            </setting>
            <setting name="play_test_clips_on_startup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="update_interval" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="max_cold_tyre_temp" serializeAs="String">
                <value>70</value>
            </setting>
            <setting name="max_good_tyre_temp" serializeAs="String">
                <value>95</value>
            </setting>
            <setting name="max_safe_oil_temp" serializeAs="String">
                <value>73</value>
            </setting>
            <setting name="max_safe_water_temp" serializeAs="String">
                <value>69</value>
            </setting>
            <setting name="log_temps" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="enable_pearls_of_wisdom" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="minimum_time_between_pearls_of_wisdom" serializeAs="String">
                <value>40</value>
            </setting>
        </CrewChief.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <CrewChief.Properties.Settings>
            <setting name="Setting" serializeAs="String">
                <value />
            </setting>
        </CrewChief.Properties.Settings>
    </userSettings>
</configuration>
