<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CrewChief.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <applicationSettings>
        <CrewChief.Properties.Settings>
            <setting name="sound_files_path" serializeAs="String">
                <value>sounds</value>
            </setting>
            <setting name="background_sound_files_path" serializeAs="String">
                <value>background_sounds</value>
            </setting>
            <setting name="background_volume" serializeAs="String">
                <value>0.25</value>
            </setting>
            <setting name="play_test_clips_on_startup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="update_interval" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="max_cold_tyre_temp" serializeAs="String">
                <value>70</value>
            </setting>
            <setting name="max_good_tyre_temp" serializeAs="String">
                <value>99</value>
            </setting>
            <setting name="log_temps" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="enable_pearls_of_wisdom" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="minimum_time_between_pearls_of_wisdom" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="pearls_of_wisdom_likelihood" serializeAs="String">
                <value>0.75</value>
            </setting>
            <setting name="max_safe_water_temp_over_baseline" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="max_safe_oil_temp_over_baseline" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="use_sweary_messages" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="enable_spotter" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="spotter_car_length" serializeAs="String">
                <value>3.6</value>
            </setting>
            <setting name="spotter_gap_for_clear" serializeAs="String">
                <value>0.8</value>
            </setting>
            <setting name="time_after_race_start_for_spotter" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="min_speed_for_spotter" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="spotter_hold_repeat_frequency" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="max_closing_speed_for_spotter" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="spotter_only_when_being_passed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="disable_immediate_messages" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="spotter_in_qual_and_practice" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="require_2_overlaps_for_hold_message" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="require_2_clears_for_clear_message" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="spotter_clear_delay" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="spotter_overlap_delay" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="read_lap_times" serializeAs="String">
                <value>True</value>
            </setting>
        </CrewChief.Properties.Settings>
    </applicationSettings>
</configuration>
